<section class="newsletter">
    <div class="newsletter-container">
        <h1>SUBSCRIBE TO OUR NEWSLETTER</h1>
        <p>Far far away, behind the word mountains</p>
        <form action="">
            <div class="input-newsletter">
                <input type="text" name="" id="" placeholder="EMAIL">
                <button>SUBSCRIBE</button>
            </div>
        </form>
    </div>
</section>








<section class="footer">
    <div class="footer-container">
        <div class="f1">
            <h3>AXOLE.</h3>
            <p class="f1-p">A small river named Duden.</p>
            <ul>
                <li><i class="fa-brands fa-twitter"></i></li>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
            </ul>
        </div>
        <div class="f2">
            <h3>EXPLORE</h3>
            <ul>
                <li><i class="fa-solid fa-arrow-right"></i> ABOUT</li>
                <li><i class="fa-solid fa-arrow-right"></i> BLOG</li>
                <li><i class="fa-solid fa-arrow-right"></i> CONTACT US</li>
            </ul>
        </div>
        <div class="f3">
            <h3>HAVE A QUESTION?</h3>
            <ul>
                <li><i class="fa-solid fa-map"></i> 203 Fake St. Mountain View.</li>
                <li><i class="fa-solid fa-phone"></i> +2 392 3929 210</li>
                <li><i class="fa-solid fa-envelope"></i> info@yourdomain.com</li>
            </ul>
        </div>
    </div>

    <div class="copyrights">
        <p>Copyright ©2022 All rights reserved <span>2021-2022</span></p>
    </div>
</section>







<script src="https://kit.fontawesome.com/9c1c3f6a2e.js" crossorigin="anonymous"></script>