<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    
    
    <!-- Include Quill stylesheet -->
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet" />
    

    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/compose.css">
    <title>Document</title>
</head>
<body>


    <section class="compose">
        <div class="compose-container">

            <form action="/compose" method="post">
                <div class="left">
                    <div class="left-content">

                        <div class="list-container">
                            <label for="category">CATEGORY:</label>
                            <select name="category" id="language">
                                <option value="ENTERTAINMENT">ENTERTAINMENT</option>
                                <option value="BUSINESS">BUSINESS</option>
                                <option value="FOOD">FOOD</option>
                                <option value="LIFE-STYLE">LIFE-STYLE</option>
                                <option value="TECHNOLOGY">TECHNOLOGY</option>
                                <option value="SPORTS">SPORTS</option>
                                <option value="NEWS">NEWS</option>
                                <option value="CLIMATE">CLIMATE</option>
                                <option value="GAMING">GAMING</option>
                            </select>
                        </div>

                        <div class="title-container">
                            <label for="title">TITLE:</label>
                            <input name="title" id="title" type="text" placeholder="TITLE">
                            <input style="display: none;" name="quill" id="quill" type="text" placeholder="quill">
                        </div>

                        <div class="img-container">
                            <button name="btn" class="btn-cover">ADD A COVER</button>
                            <input type="file" name="myfile" />
                        </div>

                    </div>
                </div>
                <div class="middle">
                            <div id="quillEditor" class="canvas">
                            </div>
                </div>
                <div class="right">
                        <button type="submit" class="btn btn-dark btn2"><i class="fa-solid fa-arrow-right"></i></button>
                </div>

            </form>

        </div>
    </section>



    <script src="https://kit.fontawesome.com/9c1c3f6a2e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
    <script>

        var toolbarOptions = [
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
            [{ 'font': [] }],
            ['bold', 'italic', 'underline'],        // toggled buttons
            ['blockquote', 'code-block'],
            ['link', 'image'],
        
            [{ 'header': 1 }, { 'header': 2 }],               // custom button values
            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
            [{ 'direction': 'rtl' }],                         // text direction
        
        
            [{ 'color': [] }, 
            { 'background': [] }],          // dropdown with defaults from theme
            [{ 'align': [] }],
        
        ];

        var options = {
            modules: {
                toolbar: toolbarOptions
            },
            placeholder: 'Write your heart out...',
            theme: 'snow'
        };
    
    
        var editor = new Quill('#quillEditor', options);
        var justHtmlContent = document.getElementById('quill');
        
        editor.on('text-change', function() {
            var justHtml = editor.root.innerHTML;
            justHtmlContent.value = justHtml;
            // console.log(justHtml);
        });
  
    </script>

</body>
</html>