<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./twofactor.css"> -->
    <title>Document</title>

    <style>
        body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }
    .two-factor{
        background: url(./test4.png);
        height: 20rem;
        width: 40rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .5rem;
        /* box-shadow: 0 0 1rem black; */
        height: 100%;
        width: 100%;

    }
    .two-factor-container{
        padding: 1rem;
        
    }

    .two-factor-container>h1,.two-factor-container>p{
        font-size: 6rem;
        background-color: #444444;
        padding: 1rem 2rem;
        color: white;
        border-radius: .5rem;
        box-shadow: 0 0 1.5rem black;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .two-factor-container>p{
        font-size: 2.5rem;


    }

    .two-factor-container>p>span{
        background-color: #EC2550;
        border-radius: .5rem;
        padding: .5rem 1rem;
        font-weight: bold;
    }
    </style>
</head>
<body>
    <div class="two-factor">
        <div class="two-factor-container">
            <h1>AXOLE</h1>
            <p><span>SUBSCRIBED</span></p>
        </div>
    </div>
</body>
</html>