header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 0;
    text-align: center;
    background: white;
    z-index: 9999;
    transition: all 300ms ease-in-out;
    /* margin-bottom: 20rem; */

  }
  
  .navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    /* padding: 1rem; */
  
  }
  .navbar-container>h1{
    /* width: 40%; */
    justify-content: center;
    
  
  }

  .navbar-container>h1>a:hover{
    text-decoration: none;
    color: black;

  }

  .navbar-container>ul{
    display: flex;
    /* width: 60%; */
    margin: 0;
    justify-content: center;
    /* justify-content: space-around; */
  }
  .navbar-container>ul>li{
    list-style: none;
    margin: 0 .8rem;
    /* font-size: 15px; */

  }
  
  .navbar-container>ul>li>a, h1>a{
    text-decoration: none;
    color: black;
    font-size: 25px;

  }
  .navbar-container>ul>li>a{
    font-size: 15px;

  }

  .navbar-container>ul>li>a>i{
    margin-left: .3rem;
    /* font-size: 1rem; */
    /* font-weight: 550; */
  }
  
  .scroll-down header {
    transform: translate3d(0, -100%, 0);
  }
  
  .scroll-up header {
    filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
  }
  
  .menu-is-open {
    overflow: hidden;
  }
  .menu-is-open header {
    filter: none;
  }
  
